{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block style %}
<link rel="stylesheet" href="{% static 'auth/css/signup.css' %}">
{% endblock %}


{% block content %}

<style>
    .bot{
        display: flex;
        justify-content: space-around;
    }

    .regs{
        display: flex;
        justify-content: space-around;
        
    
    }
        .card{
            margin: 15% auto;

        }

        .bot{
        background-color: #f0f0f0;
        box-shadow: 0 0 1px black;
        width: 70%;
        margin: 0 auto;
        margin-top: 1vh;
        padding: .5em 1em;
        }

        @media screen and (max-width:700px){
            .bot{
                width: 70%;
                flex-direction: column;
            }
            .regs{
                flex-direction: column;
            }
        }


        .success{

            color: lightgreen;
            padding: 1em 1em ;
            margin: 0 auto;
            width: 50%;
            background-color: rgba(107, 122, 122, 0.3);
            position: relative;
            z-index: 1;
            background-color: rgb(108, 144, 98) ;
            margin-bottom: 2vh;
        }

        .error{
            color: lightcoral;
            padding: 1em 1em ;
            margin: 0 auto;
            width: 50%;
            position: relative;
            z-index: 1;
            background-color: rgb(232, 217, 220) ;
            margin-bottom: 2vh;

        }

        .message-close{
            position: absolute;
            top: 2px;
            right: 2px;
            padding: 2px 4px;
            border: none;
            color: white;
            background-color: purple;
            margin-bottom: 1px;


        }
    
</style>


            <div class="card bg-dark" >
                <div class="card-body">

                    <div class="mes">
                        {% if messages%}
                        {% for message in messages%}

                        {% if message.tags == "success" %}
                        <div class="success">
                            <button class="message-close">X</button>

                            <p>{{message}}</p>

                        </div>

                        {% elif message.tags == "error" %}
                        <div class="error">
                            <button class="message-close">X</button>
                            <p>{{message}}</p>

                        </div>
                        {% endif %}
                        
                        {% endfor%}

                        {% endif%}
                    </div>
                    
                    <div class="card-text">
                        
                        <form  method="post" action="{% url 'login' %}" class="auth" id="auth">
                            {% csrf_token%}
                             <h2 style="color: #616aeb;">Login</h2>
                            
 
                            <div class="form-group fm ">
                                <!-- <label class="form-label"  for="email"> Email</label> -->
                               <fieldset>
                                <legend>Email</legend>
                                 
                                {% render_field form.email class="form-control inp " placeholder="i.e benomolo@gmail.com"   name="email" id="id_email" %}
                               </fieldset>

                               
                               {% if form.email.errors %}
                               <div class="div_warn" ><p style="color: red; " class="warn">{{ form.email.errors }}</p></div>
                             {% endif %}
                              </div>
                           
                               

                           


                              <div class="form-group fm">
                                <fieldset>
                                    <legend>Password</legend>
                                    
                                
                                 
                                {% render_field form.password type="password" class="form-control inp " id="id_password" placeholder="*****"   name="password" %}
                                </fieldset>
                                
                               {% if form.password.errors %}
                               <div class="div_warn" ><p style="color: red; " class="warn">{{ form.password.errors }}</p></div>
                             {% endif %}
                              </div>




                              
   
                            
                            <input type="submit" class="btn bt" id="sign_btn"></input>
                            
                        </form>
                        <div class="bot">
                            <div class="reset">
                                Forgotten password? <a href="{% url 'password_reset'%}">Reset Password</a></small>
                            </div>

                            <div class="regs">
                                <div class="reg">
                                    Join?
                                    <a href="{% url 'stud'%}">Student |</a>
                                    <a href="{% url 'proreg'%}">Professor </a>
                                </div>

                                
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>


            <script>

                let bts=document.querySelectorAll('.message-close')
                bts.forEach((bt)=>{
                    bt.addEventListener('click',(e)=>{
                        bt.parentElement.remove()
                    })

                    setTimeout(() => {
                        bt.parentElement.remove()
                        
                    }, 7000);
                })
            </script>
        

{% endblock %}

{% block script %}
<script src="{% static 'auth/js/signup.js'%}"></script>
{% endblock%}

