
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
<link rel="stylesheet" href="{% static 'auth/css/signup.css' %}">
{% endblock %}


{% block content %}




<style>
  .ilusion{
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;

  }
  /* .ilusion::after{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: green;

  } */ */

  #outer{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
    
    
  }
  .spinner {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #aba9b6;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
  animation: spin 3s ease-in-out infinite reverse;
  display: none;
}

@keyframes spin {
  0% { transform: rotateZ(0deg); }
  50% { transform: rotateZ(180deg); border-color: #c6c5ce; }
  100% { transform: rotateZ(360deg); border-color: #16053b; }
}

.back{
  margin-top: 10vh;
  margin-left: 6vw;
  color: white;
  font-weight: 900;
}

.back button{
  background-color: purple;
  margin-top: 2vh;
  color: white;
  padding: 0.5em 1em;
  border: none;
}

.back a{
  text-decoration:  none;
  color: white;
}

</style>
<div class="al">

 <div class="back">
  <button><a href="{% url 'hm'%}">Back</a></button>
 </div>


            <div class=" bg-dark ilusion" id="il" >
                <div class="card-body">
                    
                    <div class="card-text">
                        <form action="" method="post" novalidate class="auth" id="auth">
                            {% csrf_token%}
                             <h2>Signup as a Student</h2>
 
                            <div class="form-group fm ">
                                <!-- <label class="form-label"  for="email"> Email</label> -->
                               <fieldset>
                                <legend>Email</legend>
                                 
                                {% render_field form.email class="form-control inp " placeholder="e.g info@fealas.com" type="text " required="true" name="email" id="email" %}
                               </fieldset>

                               {% if form.email.errors %}
                               <div class="div_warn" ><p style="color: red; " class="warn">{{ form.email.errors }}</p></div>
                             {% endif %}
                              </div>
                               
                            <div class="form-group fm">
                                <fieldset>
                                    <legend>
                                        Phone Number
                                    </legend>
                                    {% render_field form.phone_number type="text" class="form-control inp " placeholder="e.g +1-5679885432" id="phone" name="phone_number" %}
                                </fieldset>
                                {% if form.phone_number.errors %}
                                <div class="div_warn" style="margin: 0 auto; color: red;" > <p style="color: red; list-style: none;" class="warn">{{ form.phone_number.errors }}</p></div>
                              {% endif %}
                            </div>


                            <div class="form-group fm">
                                <fieldset>
                                    <legend>
                                        Username
                                    </legend>
                                    {% render_field form.username type="text" class="form-control inp " placeholder="e.g ben" name="username" id="username" %}
                                </fieldset>
                                {% if form.username.errors %}
                                <div class="div_warn" ><p style="color: red; " class="warn">{{ form.username.errors }}</p></div>
                              {% endif %}
                            </div>
                               

                           


                              <div class="form-group fm">
                                <fieldset>
                                    <legend>Password</legend>
                
                                {% render_field form.password type="text" class="form-control inp " id="pass" placeholder="*****" type="password" required="true" name="password" %}
                                </fieldset>
                                {% if form.password.errors %}
                                <div class="div_warn"><p style="color: red; " class="warn">{{ form.password.errors }}</p></div>
                              {% endif %}
                              </div>



                            
                              <div class="form-group fm">
                                <fieldset>
                                    <legend>confirm Password</legend>
                
                                {% render_field form.password1 type="text" class="form-control inp " id="pass" placeholder="*****" type="password" required="true" name="password1" %}
                                </fieldset>
                                {% if form.password1.errors %}
                                <div class="div_warn" ><p style="color: red; " class="warn">{{ form.password1.errors }}</p></div>
                              {% endif %}
                              </div>



                              
   
                            
                            <button type="submit" class="btn bt" id="sign_btn">Register </button>
                            
                        </form>
                        <div style="margin: 5px auto ; text-align: center;">
                          <button style="border: none; background-color: transparent;"> Already registered? <a id="redirect" target="_blank" rel="noopener noreferrer">Login</a></button>
                        </div>
                    </div>
                </div>
            </div>
</div>


            <script>


const button = document.getElementById("redirect");
const spinner = document.getElementById("spn");
const ilusion = document.getElementById("il");

button.addEventListener("click", function() {
  // Show the spinner
  spinner.style.display = "block";
  ilusion.style.opacity='0.1'
  // Disable the button to prevent multiple clicks
  button.disabled = true;

  // Redirect the user to the new page after a short delay
  setTimeout(function() {
    window.location.href = "{% url 'login' %}";

    spinner.style.display = "none";
  ilusion.style.opacity='1'
  }, 1000);
});

            </script>

        

{% endblock %}

{% block script %}
<script src="{% static 'auth/js/signup.js'%}"></script>
{% endblock%}