{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<style>
	.container{
		width: 100%;
		height: 100%;
		padding: 2em 2em;
		margin: 0 auto;
		
		position: relative;
		background-color: #f0f0f0f0;
		overflow-x: hidden;
	}

	.hold{
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

border-radius: 1rem;

box-shadow: 1px  1px 1px  white;

padding: 2em 2em;
overflow-x: hidden;
	}

	h2{
		color: purple;
	}

	.reset{
		border: none;
		width: 100%;
		background-color: transparent;
		padding: 0.4em .5em;


	}

	.reset:focus-within{
		border: none;
		background-color: transparent;

	}

	.fd{
		border-radius: .7vw;
		width: 40%;
		border: 1px solid purple;
		margin-bottom: 2vh;
	}

	.reset_btn{
		border: none;
		color: white;
		background-color: purple;
		padding: 1em 2em;
		border-radius: 5px;
	}

	.reset_btn:hover{
		background-color: rgb(131, 66, 223);
		cursor: pointer;
	}
</style>

	          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<div class="hold">
			<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
			<Fieldset class="fd">
				<legend>Email</legend>
				{% render_field password_reset_form.email class="reset" %}
			</Fieldset>
			
                         
            <button class="btn btn-primary reset_btn" type="submit">Send</button>
        </form>
		</div>
  	</div> 

{% endblock %}